<section class="footer">
    <div class="box-container">

        <div class="box">
            <h3>Our Branches</h3>
            <a href=""><i class="fa-solid fa-location-dot"></i> Tuyen Quang</a>
            <a href=""><i class="fa-solid fa-location-dot"></i> Phu Tho</a>
            <a href=""><i class="fa-solid fa-location-dot"></i> Nghe An</a>
            <a href=""><i class="fa-solid fa-location-dot"></i> Nam Dinh</a>
            <a href=""><i class="fa-solid fa-location-dot"></i> Ha Noi</a>
        </div>

        <div class="box">
            <h3>Quick Links</h3>
            <a href=""><i class="fas fa-chevron-right"></i> Home </a>
            <a href=""><i class="fas fa-chevron-right"></i> Packages </a>
            <a href=""><i class="fas fa-chevron-right"></i> Services </a>
            <a href=""><i class="fas fa-chevron-right"></i> Prices </a>
            <a href=""><i class="fas fa-chevron-right"></i> Blogs </a>
        </div>

        <div class="box">
            <h3>Contact Info</h3>
            <a href=""><i class="fas fa-phone"></i> +84 234 567 891 </a>
            <a href=""><i class="fas fa-phone"></i> +123-456-789 </a>
            <a href=""><i class="fa-solid fa-envelope"></i> databaselab@gmail.com </a>
            <a href=""><i class="fa-solid fa-building-columns"></i> Hanoi University of Science and Technology </a>
        </div>

        <div class="box">
            <h3>Follow us</h3>
            <a href=""><i class="fab fa-facebook-f"></i> Facebook </a>
            <a href=""><i class="fab fa-x"></i> X </a>
            <a href=""><i class="fab fa-instagram"></i> Instagram </a>
            <a href=""><i class="fab fa-tiktok"></i> Tiktok </a>
            
        </div>  

        

        


    </div>
</section>
