
<header class="header">
  <a href="/" class="logo"> <i class="fas fa-utensils"></i> DB LAB </a>

    <form action="" class="search-form">
        <input type="search" id="searchBox" placeholder="Search here...">
        <label for="searchBox" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        //- <div id="share-btn" class="fas fa-share"></div>
        <div id="cart-btn" class="fas fa-cart-shopping"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <a href="" class="btn">Login </a>
    </div>


        
  

</header>



  

























<script src="/script.js"></script>

</body>
</html>
